# Optional: Only needed if you want SSH access for debugging
# key_name           = "your-keypair"

# Your public IP for K3s API access (get it from https://ifconfig.me)
bastion_cidr_block = "0.0.0.0/0"

env = "staging"

vpc_cidr = "10.10.0.0/16"

# Frankfurt region (closest to Berlin, Germany)
azs = [
  "eu-central-1a",
  "eu-central-1b",
  "eu-central-1c"
]

public_subnets_cidrs = [
  "10.10.1.0/24",
  "10.10.2.0/24",
  "10.10.3.0/24"
]
