name: Release (Build & Publish Images)

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    env:
      GROUP: weaveworksdemos
    strategy:
      matrix:
        repo: ["openapi", "healthcheck"]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ${{ matrix.repo }}
          push: true
          tags: |
            ${{ env.GROUP }}/${{ matrix.repo }}:${{ github.ref_name }}
            ${{ env.GROUP }}/${{ matrix.repo }}:${{ github.sha }}
